In [ ]:
# Create an alias with the as keyword while importing
# Now you can refer to the Pandas package as pd instead of pandas
import pandas as pd

# **Previous Content**

# Read CSV

In [ ]:
# Load the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales) # If the dataframe has many rows, Pandas will only return the first 5 rows and the last 5 rows

In [ ]:
# The head() method returns the headers and a specified number of rows, starting from the top
print(sales.head(5))

In [ ]:
# Use info() to get more information about the dataframe
print(sales.info())

In [ ]:
# sales['Price'].describe() # use the describe() to get a statistical description of a column
sales.describe() # get a statistical description of the entire dataframe

# Correct Wrong Values

In [ ]:
# Suppose after double checking, we conclude the price in Row 0 should not be 2099.00
# One way to fix wrong values is to replace them with correct values
sales.loc[0, 'Price'] = 20.99 # loc locates values by labels

You may not be able to replace the wrong data one by one for big datasets. To replace wrong data for larger data sets you can create some rules. For example, you can set some boundaries for legal values, and replace any values that are outside of the boundaries.

In [ ]:
sales.loc[sales['Price'] > 15, 'Price'] = 15
print(sales)

In [ ]:
sales['Price'] > 15  # returns a pandas series of boolean values that indicate which rows satisfy the condition

In [ ]:
sales.loc[sales['Price'] > 15] # returns a pandas dataframe with rows corresponding to the True values in the previous pandas series

In [ ]:
sales.loc[sales['Price'] > 15, 'Price']

# Clean Empty Cells

In [ ]:
# One way to deal with empty cells is to remove rows that contain empty cells
# This is usually OK if the dataset is big and removing a few rows will not have a big impact on the analysis results
sales_drop_na = sales.dropna()
print(sales_drop_na) # sales_drop_na does not have the row with index 6

In [ ]:
print(sales) # By default, dropna() returns a new dataframe and will not change the original dataframe
# So the row with index 6 still exists in df

In [ ]:
sales.dropna(inplace = True)
print(sales) # dropna(inplace = True) will NOT return a new DataFrame. Instead, it will remove all rows containing NULL values from the original dataframe
# The row with index 6 is now removed from the sales dataframe

In [ ]:
# Reload the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales) # sales now has a null value in the Price column

In [ ]:
sales.dropna(subset=['Price'], inplace = True) # Remove rows with a NULL value in the Price column
print(sales)

In [ ]:
# Reload the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales) # sales has a null value in the Price column

In [ ]:
# The following code looks correct but it only returns a pandas series with the sixth position replaced by 20
sales["Price"].fillna(20)

In [ ]:
print(sales) # sales still has the null value in the Price column

In [ ]:
# Replace NULL values in the Price column with the number 20
sales["Price"].fillna(20, inplace = True) # We need to set inplace = True so we are modifying df
print(sales)

In [ ]:
# Reload the dataframe and follow the suggestion in the warning message
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
sales.fillna({"Price": 20}, inplace=True)

In [ ]:
# Reload the dataframe and follow the suggestion in the warning message
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
sales["Price"] = sales["Price"].fillna(20)

# Handle Duplicates

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
# Use duplicated() to discover duplicates
# duplicated() returns a Boolean value for each row, i.e., True for every row that is a duplicate, othwerwise False
print(df.duplicated())
# Note that Rows with index 8 and 9 are the same
# Row 8 is not a duplicate, and Row 9 is a duplicate
# Documentation at https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html: the keep parameter by default is 'first'

In [ ]:
# Use drop_duplicates() to remove duplicates
df.drop_duplicates(inplace = True) # We set inplace = True to make sure that the method does NOT return a new dataframe, but it will remove all duplicates from the original dataframe
print(df)
# Note that Row 8 is kept, and Row 9 is removed
# Documentation at https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html: the keep parameter by default is 'first'

In [ ]:
# Reload the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales) # sales has a null value in the Price column

In [ ]:
# To drop duplicated rows based on one column's value in a pandas DataFrame, you can use the drop_duplicates() and specify the column name using the subset parameter
# By default, this method keeps the first occurrence of each duplicated row and drops the rest
sales.drop_duplicates(subset=['Transaction_ID']) # By default, inplace = False
# sales.drop_duplicates(subset=['Transaction_ID'], inplace = True)
# print(sales)

In [ ]:
# Reload the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
# To drop duplicated rows based on one column's value in a pandas DataFrame, you can use the drop_duplicates() and specify the column name using the subset parameter
# By default, this method keeps the first occurrence of each duplicated row and drops the rest (i.e.,  keep='first')
sales.drop_duplicates(subset=['Product_ID'], keep='first')

In [ ]:
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
# Use keep='last' to drop duplicates except for the last occurrence
sales.drop_duplicates(subset=['Product_ID'], keep='last')

In [ ]:
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
# Use keep=False to drop all duplicates
sales.drop_duplicates(subset=['Product_ID'], keep=False)

**Practice 1: Write code to get all the unique pairs of Customer_ID and Product_ID from the "sales" dataframe**

# Clean Date Format (Optional)

In [ ]:
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
# Pandas has a to_datetime() method for converting cell values to dates
sales['Date'] = pd.to_datetime(sales['Date'], format='mixed', dayfirst =False)
print(sales)
# Documentation at https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html:
# Use format='mixed' to infer the format for each element individually. This is risky, so we set dayfirst = False which indicates that we don't prefer to parse with day first.

# **New Content**

# Data Analytics

In [ ]:
# Load the CSV into a dataframe called sales
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales)

In [ ]:
# For each transaction, transaction amount = quantity * price
# Add a column for transaction amount
sales['TransactionAmount'] = sales['Quantity'] * sales['Price']

In [ ]:
# What is the average transaction amount?
# Automatically ignored null values when calculating the mean
sales['TransactionAmount'].mean()

In [ ]:
# What is the total transaction amount?
# Automatically ignored null values when calculating the sum
sales['TransactionAmount'].sum()

In [ ]:
sales['TransactionAmount'].max()

In [ ]:
# Use .groupby() to group your data and execute functions (e.g., sum) on these groups
sales.groupby('Customer_ID').sum() # .sum() calculates the total of numeric columns and concatenates the string columns
# Row index 6 has null values in Price and TransactionAmount columns
# The null values in Price and TransactionAmount are ignored
# Other numeric columns (Transaction_ID, Quantity) in row index 6 are not ignored

In [ ]:
# The null values can be confusing and intervene with our analysis
# The best practice is to clean up the null values (and other problems) before analysis

**Step 1 (Revision - Handle Duplicates): Remove duplicated rows in the sales dataframe with keeping the first occurence**

In [ ]:
# Load the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
# Clean the sales data
# Step 1: Remove duplicated rows
sales.drop_duplicates(inplace = True)

**Step 2 (Revision: Correct Wrong Values): Change the price of Product P001 to 20.99 and recalculate transaction amount (Quantity * Price)**

In [ ]:
# Step 2: Correct wrong values
sales.loc[sales['Product_ID'] == 'P001', 'Price'] = 20.99
sales['TransactionAmount'] = sales['Quantity'] * sales['Price']

**Step 3 (Revision: Fill Null Values): Change the null value of Price to the weighted price of all other products in the sales table (i.e., total transaction amount of all the products divided by total quantity of all the products) and recalculate transaction amount**

In [ ]:
# Step 3: Clean null values
weighted_price = sales['TransactionAmount'].sum() / sales['Quantity'].sum()
sales['Price'] = sales['Price'].fillna(weighted_price)
# Recalculate Transaction Amount
sales['TransactionAmount'] = sales['Quantity'] * sales['Price']

In [ ]:
# We can specify to only perform .sum() on the TransactionAmount column
total_amount_per_customer = sales.groupby('Customer_ID')['TransactionAmount'].sum()
print(total_amount_per_customer)
print()
print(type(total_amount_per_customer))

In [ ]:
# We can specify to perform .sum() on more than one column
sales.groupby('Customer_ID')[['TransactionAmount', 'Transaction_ID']].sum() # summing transaction ID is not meaningful

**Practice 2: Write code to answer the following question: for each product, what is its average price weighted by transaction quantity?**

In [ ]:
# Use .value_counts() to count the number of transactions for each customer
sales['Customer_ID'].value_counts()

**Practice 3: Write code to count the number of transactions for each pair of customer and product**

In [ ]:
# Use .nlargest() to get the top five customers with the largest total amount
total_amount_per_customer.nlargest(5) # total_amount_per_customer is a pandas series

In [ ]:
# Use .idxmax() to return the label of first occurrence of maximum value
total_amount_per_customer.idxmax()

**Practice 4: Use .nlargest(), .nsmallest(), .idxmax(), and .idxmin() to write code to get the product with the highest and lowest average price weighted by transaction quantity**

**Hint 1: Use your answer from Practice 2**

**Hint 2: Read resources here: https://tutorialsinhand.com/Articles/pandas-dataframe---nsmallest-and-nlargest.aspx and https://proclusacademy.com/blog/quicktip/pandas-idxmin-idxmax/**

**The second resource also talks about having repeated max and min values**