In [1]:
# Create an alias with the as keyword while importing
# Now you can refer to the Pandas package as pd instead of pandas
import pandas as pd

In [2]:
# A Pandas DataFrame is a 2 dimensional data structure, like a table with rows and columns
songs_data = {
  "name": ["Flowers", "As it Was", "Anti-Hero", "Eyes Closed", "Just the Way You Are"],
  "length_in_seconds": [201, 163, 201, 194, 221],
  "release_year": [2023, 2022, 2022, 2023, 2010]
}
# Load songs_data into a DataFrame object
songs_df = pd.DataFrame(songs_data)
# Add a list of labels to give each row a label with the index argument
songs_df_letter_label = pd.DataFrame(songs_data, index = ["a", "b", "c", "d", "e"])

In [4]:
# Load the CSV into a dataframe
sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_data.csv')
print(sales) # If the dataframe has many rows, Pandas will only return the first 5 rows and the last 5 rows

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
4               5        C102       P002         2    29.99   1/9/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023
9               9        C103       P005         1     9.99  1/13/2023

**Practice 1: Explain why the following code returns an error and debug it using iloc and loc**

In [6]:
print(songs_df_letter_label.iloc[[0, 1], [0, 2]])

        name  release_year
a    Flowers          2023
b  As it Was          2022

**Practice 2: Change the price of Product P001
to 12 if the quantity of a transaction is greater than 1**

**Hint: View how to filter with multiple conditions at https://www.geeksforgeeks.org/filter-pandas-dataframe-with-multiple-conditions/**

In [7]:
sales.loc[(sales['Quantity'] > 1) & (sales['Product_ID'] == "P001"), 'Price'] = 15
print(sales)

   Transaction_ID Customer_ID Product_ID  Quantity  Price       Date
0               1        C101       P001         2  15.00   1/5/2023
1               2        C102       P002         1  29.99   20230106
2               3        C103       P001         1  20.99   1/7/2023
3               4        C101       P003         3   9.99   1/8/2023
4               5        C102       P002         2  29.99   1/9/2023
5               6        C105       P001         1  20.99  1/10/2023
6               7        C102       P004         1    NaN  1/11/2023
7               8        C106       P001         2  15.00  1/12/2023
8               9        C103       P005         1   9.99  1/13/2023
9               9        C103       P005         1   9.99  1/13/2023