In [2]:
# Create an alias with the as keyword while importing
# Now you can refer to the Pandas package as pd instead of pandas
import pandas as pd

In [3]:
# Load the CSV into a dataframe
sales = pd.read_csv('./sales_data.csv')
print(sales) # If the dataframe has many rows, Pandas will only return the first 5 rows and the last 5 rows

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
4               5        C102       P002         2    29.99   1/9/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023
9               9        C103       P005         1     9.99  1/13/2023

**Practice 1: Write code to get all the unique pairs of Customer_ID and Product_ID from the "sales" dataframe**

In [ ]:
sales = pd.read_csv('./sales_data.csv')
sales.drop_duplicates(subset=['Customer_ID','Product_ID'], keep='first') #based on my interpretation of the request you want me to have both distinct customer and product ids

#Alternatively, if you want distinct customer ids only
# sales.drop_duplicates(subset=['Customer_ID'], keep='first')
# Also alternative if you want distinct product ids only
# sales.drop_duplicates(subset=['Product_ID'], keep='first')

   Transaction_ID Customer_ID Product_ID  Quantity    Price       Date
0               1        C101       P001         2  2099.00   1/5/2023
1               2        C102       P002         1    29.99   20230106
2               3        C103       P001         1    20.99   1/7/2023
3               4        C101       P003         3     9.99   1/8/2023
5               6        C105       P001         1    20.99  1/10/2023
6               7        C102       P004         1      NaN  1/11/2023
7               8        C106       P001         2    20.99  1/12/2023
8               9        C103       P005         1     9.99  1/13/2023